
.contain{
    margin: 8%;
    margin-top: 8%;
    padding: 10px;
    width: auto;
    height: 100%;
    border: solid 2px black;
    }
.input-group{
    border-radius: 0%;
 }
  .form-control {
     color:black;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid black;
     border-left: none;
 }
 .btn{
     border:1px solid black;
     color: black;
 }
 .input-group-text{
     border: 1px solid black;
     border-right: none;
     background-color: white;
 }
 form {
     padding: 2rem;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
   }
   input[type="text"],
 select,
 textarea {
   display: block;
   box-sizing: border-box;
   width: 100%;
   padding:10px;
   border-radius: 5px;
 }
 input[type="radio"],
 input[type="number"],
 input[type="checkbox"],
 input[type="search"]{
 margin-left: 50px;
 }
